<!DOCTYPE html>
<html>
<head>
  <title>LIFF TiM Menu</title>
  <meta name="description" content="えここって誰かに読まれるんですか？">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="email=no,telephone=no,address=no">
  <link rel="icon" type="image/png" href="/static/img/icon-32x32.png">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link rel="stylesheet" href="/static/css/menu.css">
</head>


<body>

  <div class="hi">
    {{hello}}
  </div>

  <p>Client?: <span id="isInClient"></span></p>
  <p>Login?: <span id="isLoggedIn"></span></p>

  <input class="rect"></input>

  <p class="rect" onclick="sendText()">メッセージを送る</p>
  <p class="rect" id="getIDToken">Token</p>


  <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</body>
</html>
